@model IEnumerable<Todos.Models.Todo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        @foreach (var todo in Model)
        {
            <li>
                <a href="/Home/Details/@todo.Id">
                    @todo.Name
                </a>
            </li>
        }
    </ul>
</body>
</html>
